{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming Service</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff;">
    <div class="sidebar">
        <div class="logo-container">
            <img src="https://i.ibb.co/xfZgvrs/Soud-Wave-Logo.png" alt="SoundWave Logo" style="width: 100%; height: auto; padding: 20px; box-sizing: border-box;">
        </div>

        <div class="sidebar-section" style="margin-top: 20px;">
            <span style="margin-left: 14px;" class="sidebar-link-icon">
              ☯︎
            </span>
            <b>Welcome, {{user.username}}</b>
            <br>
            <br>

            <a href="/logout" class="sidebar-link">
                <span class="sidebar-link-icon">
                  ↪
                </span>
                <b>Logout</b>
            </a>
        </div>

        <div class="sidebar-section">
          <a href="/" class="sidebar-link {% if request.path == '/' %}active{% endif %}">
                <span class="sidebar-link-icon">
                  🏠︎
                </span>
                Home
            </a>
            <a href="/search" class="sidebar-link {% if request.path == '/search' %}active{% endif %}">
                <span class="sidebar-link-icon">
                  🔍︎
                </span>
                Search
            </a>
        </div>
    </div>

    <div style="margin-left:240px; padding:20px;">
      <header class="header-container">
          <form action="search" method="POST">
            {% csrf_token %}
            <div class="search-bar" style="width: 390px;">
              <input type="search" name="search_query" placeholder="What do you want to listen to?" aria-label="Search" style="outline: none; box-shadow: none;">
                <button type="submit" aria-label="Search">
                  <img src="/static/search_bar" alt="search">
                </button>
            </div>
          </form>
            <div class="search-title">Top Artists</div>
        </header>


        <main style="padding-top:20px;">
            <section style=" margin-top:0px; padding:0px; overflow-x:auto; white-space:nowrap;">
                {% for item in related_artists_info %}
                <div class="artist-card">
                  <a href="/profile/{{ item.2 }}" style="text-decoration: none;">
                    <img src="{{ item.1 }}" alt="{{ item.0 }}" style="width:150px; height:150px; border-radius:50%;">
                    <div class="artist-info">
                        <div class="artist-name">{{item.0}}</div>
                        <div class="artist-title">Artist</div>
                    </div>
                  </a>
                </div>
                {% endfor %}
            </section>
          
          <div class="browse-all-title">Browse all</div>

      <div class="browse-all">
        {% for track in first_six_tracks %}
        <a href="/music/{{ track.2 }}" style="text-decoration: none;">
          <div class="category-card">
            <img src="{{ track.1 }}" alt="{{ track.0 }}" style="width:150px; height:150px;">
            <div class="category-title">{{ track.0 }}</div>
            <span style="font-size: small; font-style: italic;">{{ track.3 }}</span>
          </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="browse-all">
        {% for track in second_six_tracks %}
        <a href="/music/{{ track.2 }}" style="text-decoration: none;">
          <div class="category-card">
              <img src="{{ track.1 }}" alt="{{ track.0 }}" style="width:150px; height:150px;">
              <div class="category-title">{{ track.0 }}</div>
              <span style="font-size: small; font-style: italic;">{{ track.3 }}</span>
          </div>
      </a>
        {% endfor %}
    </div>
    
    <div class="browse-all">
        {% for track in third_six_tracks %}
        <a href="/music/{{ track.2 }}" style="text-decoration: none;">
          <div class="category-card">
              <img src="{{ track.1 }}" alt="{{ track.0 }}" style="width:150px; height:150px;">
              <div class="category-title">{{ track.0 }}</div>
              <span style="font-size: small; font-style: italic;">{{ track.3 }}</span>
          </div>
        </a>
        {% endfor %}
    </div>
        </main>
    </div>
</body>
</html>
